.booking-container{
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid red;
}
.booking-content{
  display: flex;
  gap: 100px;
}
.booking-left{
  min-width: 320px;
  border: 1px solid red;
}
.select-person{
  display: inline-flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
input[type=radio]{
  display: none;
}
.select-person label{
  padding: 15px 25px;
  cursor: pointer;
  background-color: rgb(227, 227, 227);
  transition: 0.4s all;
}
.select-person input:checked + label, .select-date input:checked + label{
  background-color: white;
  font-weight: 700;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
  transform: scale(105%);
  z-index: 1;
  overflow: hidden;
}
.contact-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-info label{
  display: block;
}