.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  position: sticky;
  background-color: #ff6363;
  top: 0;
  z-index: 1000;
}
.bars{
  display: none;
}
.header-container h2{
  color: white;
  font-size: 30px;
}
.right-nav{
  display: flex;
  gap: 15px;
  align-items: center;
}
.user-details{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: white;
}
.user-details img{
  border-radius: 50%;
  width: 50px;
}
.btn-class{
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0.5px 0.5px 10px rgba(0,0,0,0.15), -0.5px -0.5px 10px  rgba(0,0,0,0.15);
}
/* responsive design */
@media (max-width:480px) {
  .right-nav{
    display: none;
  }
  .header-container{
    padding: 15px 20px;
  }
  .bars{
    display: inline-block;
    color: white;
    width: 25px;
    height: 25px;
  }
}