@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-image: linear-gradient(to bottom, #FFF1F1, #FFFFFF);
}
button{
  cursor: pointer;
}
ul{
  list-style-type: none;
}
.text-card{
  padding: 10px;
  width: 40%;
}
.text-card>h2{
  padding: 10px 0;
}
@media (max-width:480px) {
  .text-card{
    padding: 8px;
    width: 95%;
  }
  .text-card>h2{
    padding: 5px 0;
  }
}